body{
background: #fff;
background: url(http://aliyayrobinson.com/ayr/tabs/img/bkgd.jpg) transparent top center no-repeat fixed; background-size: cover;
}
            .tab-mod.container{margin: 0 auto; overflow: hidden; width: 80%;}
      .tab-mod h1{font:20px 'bonvenocflight',arial, sans-serif; border-bottom: 1px solid #ccc; padding: 0; margin:20px 0; }
      .tab-mod .tabs ul{ width: 100%; margin:0 0 12px;}
      .tab-mod .tabs ul li{padding: 0; margin: 12px 0 ; float: left;}
      .tab-mod .tabs ul li a {font:1em 'bonvenocflight',arial, sans-serif; background: rgba(0,0,0,0.5); color:#fff; }
      .tab-mod .tabs{background-color: transparent; margin: 0 0 0 0px; width: 100%; min-width: 100px; max-width: 500px; height: auto;}
      .tab-mod .tab,
      .tab-mod .info .copy .more{ padding: 5px 10px; background: rgba(0,0,0,0.5); color:#fff; }
      .tab-mod .info .copy h2{ font-size: 20px;}
      .tab-mod .info .copy p{ margin: 10px 0;}
      .tab-mod .info .copy p:first-child{ font-weight: bold;}
      .tab-mod .info .copy .more{ margin:5px 0; }
      .tab-mod .info{margin: 50px 0 20px 0px;}
      .tab-mod .info ul{width: 100%; border-bottom: 1px solid #666;}
      .tab-mod .info ul li{clear: both; margin:10px 0; padding:10px 0 20px;overflow: hidden;}      
      .tab-mod .info .copy{float: left; width: 55%; font:14px 'district_prothin',arial, sans-serif;}
      .tab-mod .info .img-container{float: right; width: 40%; max-width: 350px; min-width: 100px;}  
      .tab-mod .info .img-container img{width: 100%;} 
      .tab-mod .tabs ul li a:hover,
      .tab-mod .tabs ul li a.active{
            background-color: #ccc;
            color:#666;
      }
      @media screen and (max-width: 320px){
            .tab-mod .info .copy,
            .tab-mod .info .img-container{width: 100%;}

      }